<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <ion-card-title text-center *ngIf="profile">
      {{profile.Username}}
    </ion-card-title>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <div text-center>
    <div text-center>
      <img *ngIf="userImage && !imageSrc && !captureDataUrl" [src]="userImage" />
      <img [src]="captureDataUrl" *ngIf="captureDataUrl || imageSrc" />
    </div>
    <button ion-button color="light" icon-right (click)="capture()" *ngIf="!captureDataUrl &&  !imageSrc">
            Take Picture
            <ion-icon name="camera"></ion-icon>
        </button>
    <button ion-button color="light" icon-left on-tap="openGallery()" *ngIf="!captureDataUrl &&  !imageSrc">
            Choose Image
            <ion-icon name="image"></ion-icon>
        </button>
    <button ion-button color="light" icon-only (click)="uploadImage()" *ngIf="captureDataUrl || imageSrc">
          <ion-icon name="cloud-upload"></ion-icon>
        </button>
  </div>

  <ion-buttons right>
    <button ion-button (click)="toggleMode()">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
  </ion-buttons>
  <ion-card *ngIf="profile && !editMode">
    <ion-title>
      Primary Information
    </ion-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Living Place</ion-label>
        <ion-label>{{profile.LivingPlace}}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-item>
        <ion-label>Food Category</ion-label>
        <ion-label>{{profile.FoodCategory}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="profile && editMode">
    <ion-title>
      Primary Information
    </ion-title>
    <form [formGroup]="form" (ngSubmit)="editedSeekerData()">
      <ion-card-content>
        <ion-item>
          <ion-label stacked>Living Place</ion-label>
          <ion-input type="text" formControlName="place" value="{{profile.LivingPlace}}"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>Food Category</ion-label>
          <ion-input type="text" formControlName="category" value="{{profile.FoodCategory}}"></ion-input>
        </ion-item>
      </ion-card-content>
      <button type="submit" ion-button block>Submit</button>
    </form>
  </ion-card>


  <!--<div>
    <h3>Change the google map location</h3>
    <button ion-button color="light" icon-right (click)="loadMap()">
            Edit map
            <ion-icon name="map"></ion-icon>
    </button>
  </div>-->

  <ion-title>
    Location Details
  </ion-title>
  <JavascriptMap></JavascriptMap>

</ion-content>