<ion-header>
  <ion-navbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
  <ion-card *ngIf="!(authService.user | async)" text-center>
    <ion-img width="105" height="120" src="../../assets/images/Login.png"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label stacked>Username</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button full (click)="login()" [disabled]="!email || !password">Login</button>
  </ion-card>
    <button class=RegisterBut ion-button clear (click)="NavigateToLink()"> Register </button>
    <button class=LogoutBut ion-button clear (click)="logout()" *ngIf="authService.user | async"> Logout </button>
</ion-content>