<ion-header>
    <ion-navbar>
        <ion-buttons right>
            <button ion-button icon-only (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>
            Create Hotel
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
        <!--<input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />-->
        <div class="profile-image-wrapper" (click)="store()">
            <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
                <ion-icon name="add"></ion-icon>
                <div>
                    choose image
                </div>
            </div>
            <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>

        <!--<div class="profile-image-wrapper" (click)="store()">
            <div class="profile-image-placeholder">
                <ion-icon name="add"></ion-icon>
                <div>
                    Choose Image
                </div>
            </div>
        </div>-->

        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-textarea type="text" placeholder="Description" formControlName="description"></ion-textarea>
            </ion-item>
        </ion-list>
        <button ion-button color="primary">Save</button>
    </form>
    <br/>
    <ion-title>
        Location Details
    </ion-title>
    <br/>
    <JavascriptMap></JavascriptMap>
</ion-content>
